<?xml version="1.0" encoding="UTF-8"?>
<sql  version="1">
    <info>
        <db>mysql</db>
        <dbname>mysql</dbname>
        <dbuname>root</dbuname>
        <dbpassw>123456</dbpassw>
        <table>
            <name>table1</name>
            <create>
                    CREATE TABLE IF NOT EXISTS userinfo(
        uid INTEGER PRIMARY KEY AUTOINCREMENT,
        username VARCHAR(64) NULL,
        department VARCHAR(64) NULL,
        created DATE NULL
    );
            </create>
        </table>
        <table>
            <name>t2</name>
        </table>
    </info>
    <sqls>
        <s result="int">
            <name>createDb</name>
            <code>SELCET * FROM USER</code>
        </s>
        <s>
            <name>quearDb</name>
        </s>
    </sqls>
</sql>